@charset "UTF-8";

.nav{
	text-align: center;
	font-weight:bold;
}
ul {
	color:white;
	font-weight:bold;
}

.indexBody{
	text-align: center;
	margin-top: 90px;
	font-size: 50px;
	margin-bottom: 95px;
}

#LogIn{
	width:400px;
	height: 200px;
	border-radius: 30px;
	font-size: 40px;
	background-color:lightgreen;
}

#LogIn:hover{
	background-color:lightgray;
	color:green;
}

#SignUP{
	width:400px;
	height: 200px;
	border-radius: 30px;
	font-size: 40px;
	background-color:lightgreen;
}

#SignUP:hover{
	background-color:lightgray;
	color:green;
}

header{
	background-color:white;
	padding: 15px;
	box-shadow: 0 0 3px #000;
	
}

header li{
	display: inline;
	padding-left: 45px;
}

header li a{
	color: #333;
	text-decoration: none;
	padding: 13px;
}

header li a:hover{
	background-color: lightblue;
	border-radius: 30px;
}
.btnSub{
	text-decoration:none;
	color:green;
	padding:5px;
	border-radius:5px;
	background-color:#00ff00;
}

.button1{
	font-size:15px;
	width: 220px;
	height: 220px;
	color: black;
	cursor: pointer;
}
	

button{
	background-color:  #fff;
	border-radius: 15px;
}
	
button:hover{
	background-color : #d9b680;
}