<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>OOP_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.oop.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Service_insert</display-name>
    <servlet-name>Service_insert</servlet-name>
    <servlet-class>com.oop.servlet.Service_insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Service_insert</servlet-name>
    <url-pattern>/Service_insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestServiceServlet</display-name>
    <servlet-name>RequestServiceServlet</servlet-name>
    <servlet-class>com.oop.servlet.RequestServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServiceServlet</servlet-name>
    <url-pattern>/RequestServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRequest</display-name>
    <servlet-name>EditRequest</servlet-name>
    <servlet-class>com.oop.servlet.EditRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRequest</servlet-name>
    <url-pattern>/EditRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRequest_servlet</display-name>
    <servlet-name>EditRequest_servlet</servlet-name>
    <servlet-class>com.oop.servlet.EditRequest_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRequest_servlet</servlet-name>
    <url-pattern>/EditRequest_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRequest_servlet</display-name>
    <servlet-name>DeleteRequest_servlet</servlet-name>
    <servlet-class>com.oop.servlet.DeleteRequest_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRequest_servlet</servlet-name>
    <url-pattern>/DeleteRequest_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>readAllRequest_servlet</display-name>
    <servlet-name>readAllRequest_servlet</servlet-name>
    <servlet-class>com.oop.servlet.readAllRequest_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readAllRequest_servlet</servlet-name>
    <url-pattern>/readAllRequest_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelM</display-name>
    <servlet-name>FuelM</servlet-name>
    <servlet-class>com.oop.servlet.FuelM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelM</servlet-name>
    <url-pattern>/FuelM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order</display-name>
    <servlet-name>Order</servlet-name>
    <servlet-class>com.oop.servlet.Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrder</display-name>
    <servlet-name>ShowOrder</servlet-name>
    <servlet-class>com.oop.service.ShowOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrder</servlet-name>
    <url-pattern>/ShowOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderServlet</display-name>
    <servlet-name>ShowOrderServlet</servlet-name>
    <servlet-class>com.oop.servlet.ShowOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderServlet</servlet-name>
    <url-pattern>/ShowOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.oop.servlet.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccount</display-name>
    <servlet-name>DeleteAccount</servlet-name>
    <servlet-class>com.oop.servlet.DeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccount</servlet-name>
    <url-pattern>/DeleteAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DltAccServlet</display-name>
    <servlet-name>DltAccServlet</servlet-name>
    <servlet-class>com.oop.servlet.DltAccServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DltAccServlet</servlet-name>
    <url-pattern>/DltAccServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCustomerServlet</display-name>
    <servlet-name>DisplayCustomerServlet</servlet-name>
    <servlet-class>com.oop.servlet.DisplayCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCustomerServlet</servlet-name>
    <url-pattern>/DisplayCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServlet</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>com.oop.servlet.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdVeiwExistingCusServlet</display-name>
    <servlet-name>UpdVeiwExistingCusServlet</servlet-name>
    <servlet-class>com.oop.servlet.UpdVeiwExistingCusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdVeiwExistingCusServlet</servlet-name>
    <url-pattern>/UpdVeiwExistingCusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrder</display-name>
    <servlet-name>DeleteOrder</servlet-name>
    <servlet-class>com.oop.servlet.DeleteOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrder</servlet-name>
    <url-pattern>/DeleteOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderservlet</display-name>
    <servlet-name>DeleteOrderservlet</servlet-name>
    <servlet-class>com.oop.servlet.DeleteOrderservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderservlet</servlet-name>
    <url-pattern>/DeleteOrderservlet</url-pattern>
  </servlet-mapping>

</web-app>